Repository tigerbeetle/tigerbeetle, pull requests merged in 2024-09, with the labels that each got.

#2236 vsr: allow lagging primary to advance checkpoint during view change
  src/vsr.zig
  src/vsr/replica.zig
  src/vsr/replica_test.zig
Labels: fuzz vopr_lite, fuzz vopr

#2272 vsr: remove obsolete sync_view field
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/vopr.zig
  src/vsr/replica.zig
  src/vsr/superblock.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz vopr_lite

#2273 vsr/journal: remove machinery for explicit header sector locks, use lock_sectors instead
  src/vopr.zig
  src/vsr/journal.zig
Labels: fuzz vopr_lite, fuzz vopr

#2266 Lightweight Tracing
  src/lsm/compaction.zig
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree.zig
  src/lsm/tree_fuzz.zig
  src/state_machine.zig
  src/tidy.zig
  src/tigerbeetle/benchmark_driver.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
  src/trace.zig
  src/unit_tests.zig
  src/vsr.zig
  src/vsr/grid.zig
  src/vsr/replica.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz vopr_lite, fuzz lsm_manifest_log

#2275 vsr: sync cleanups
  src/testing/cluster/state_checker.zig
  src/vsr/replica.zig
  src/vsr/superblock.zig
  src/vsr/superblock_fuzz.zig
  src/vsr/sync.zig
Labels: fuzz vopr_lite

#2284 vsr: refine heuristic for lagging potential primary forfeiting view change
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#2298 Tracing: Remove tracy; trace grid read/write
  .github/workflows/ci.yml
  build.zig
  src/config.zig
  src/constants.zig
  src/fifo.zig
  src/io/linux.zig
  src/lsm/compaction.zig
  src/lsm/forest_fuzz.zig
  src/lsm/scan_tree.zig
  src/lsm/set_associative_cache.zig
  src/lsm/tree.zig
  src/lsm/tree_fuzz.zig
  src/state_machine.zig
  src/tigerbeetle/main.zig
  src/trace.zig
  src/tracer.zig
  src/vsr.zig
  src/vsr/grid.zig
  src/vsr/replica.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz vopr_lite

#2294 vsr: refactor commit_dispatch loop
  src/vsr/replica.zig
Labels: fuzz vopr_lite

#2304 Add Scan and Lookup Traces.
  src/lsm/forest.zig
  src/lsm/groove.zig
  src/lsm/scan_buffer.zig
  src/lsm/scan_lookup.zig
  src/lsm/scan_tree.zig
  src/lsm/tree_fuzz.zig
  src/trace.zig
Labels: fuzz vopr_lite

#2311 vsr: primary abdicates if its clock is out of sync
  src/vsr/replica.zig
  src/vsr/replica_test.zig
Labels: fuzz vopr

#2312 vsr: tighten up transition_to_recovering_head_from_recovering_status …
  src/vsr/replica.zig
Labels: fuzz vopr_lite

#2315 Rollback `warn` to `err` and panic.
  src/vsr/replica.zig
Labels: fuzz vopr_lite

#2321 Add missing `trace.stop` when TableInfo does not contain the key range.
  src/lsm/scan_tree.zig
Labels: fuzz lsm_tree

#2313 vsr: non faulty replica shouldn't enter recovering_head with op < op_checkpoint
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/vopr.zig
  src/vsr.zig
  src/vsr/replica.zig
  src/vsr/superblock.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz vopr_lite, fuzz vopr

#2335 Transient failure
  docs/reference/requests/create_accounts.md
  docs/reference/requests/create_transfers.md
  src/clients/c/tb_client.h
  src/clients/dotnet/TigerBeetle/Bindings.cs
  src/clients/go/pkg/native/tb_client.h
  src/clients/go/pkg/types/bindings.go
  src/clients/java/src/main/java/com/tigerbeetle/CreateAccountResult.java
  src/clients/java/src/main/java/com/tigerbeetle/CreateTransferResult.java
  src/clients/node/src/bindings.ts
  src/lsm/forest_fuzz.zig
  src/lsm/groove.zig
  src/lsm/scan_builder.zig
  src/lsm/scan_fuzz.zig
  src/state_machine.zig
  src/state_machine/auditor.zig
  src/state_machine/workload.zig
  src/testing/state_machine.zig
  src/tigerbeetle.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz vopr_lite, fuzz lsm_scan

#2345 vsr: handle multiple torn writes at the end of the WAL
  src/vsr/journal.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr
