Repository tigerbeetle/tigerbeetle, pull requests merged in 2024-06, with the labels that each got.

#1985 Grid/Scrubber: Random tour origin
  src/lsm/manifest_level.zig
  src/vsr/grid_scrubber.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite

#1981 VSR/LSM/CLI: Add `--limit-request`
  src/clients/c/tb_client/context.zig
  src/clients/c/tb_client/echo_client.zig
  src/clients/dotnet/TigerBeetle.Tests/IntegrationTests.cs
  src/clients/java/src/test/java/com/tigerbeetle/IntegrationTest.java
  src/clients/node/src/benchmark.ts
  src/lsm/forest_fuzz.zig
  src/lsm/groove.zig
  src/lsm/table_memory.zig
  src/lsm/tree.zig
  src/lsm/tree_fuzz.zig
  src/simulator.zig
  src/state_machine.zig
  src/state_machine/auditor.zig
  src/state_machine/workload.zig
  src/testing/cluster.zig
  src/testing/cluster/state_checker.zig
  src/testing/state_machine.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
  src/vsr.zig
  src/vsr/client.zig
  src/vsr/message_header.zig
  src/vsr/replica.zig
  src/vsr/replica_test.zig
Labels: fuzz vopr_lite

#2009 CLI/LSM: Tune compaction memory
  src/config.zig
  src/constants.zig
  src/lsm/forest.zig
  src/lsm/forest_fuzz.zig
  src/simulator.zig
  src/state_machine.zig
  src/testing/state_machine.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz vopr_lite

#2011 LSM/SetAssociativeCache: Ease clocks alignment to shrink lower-bound size
  src/config.zig
  src/lsm/cache_map.zig
  src/lsm/cache_map_fuzz.zig
  src/lsm/forest_fuzz.zig
  src/lsm/set_associative_cache.zig
  src/lsm/tree_fuzz.zig
  src/simulator.zig
  src/testing/state_machine.zig
  src/tidy.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz lsm_cache_map, fuzz vopr_lite

#2004 Simulator coverage for get_account_{transfers,balances}
  src/state_machine/auditor.zig
  src/state_machine/workload.zig
Labels: fuzz vopr_lite
