Repository tigerbeetle/tigerbeetle, pull requests merged in 2025-03, with the labels that each got.

#2783 Assert the `cache_map.stash` count
  src/lsm/cache_map.zig
  src/lsm/cache_map_fuzz.zig
  src/lsm/forest_fuzz.zig
  src/lsm/groove.zig
Labels: fuzz vopr_lite, fuzz vopr

#2813 vsr: fix reset of prepare_timeout
  src/vsr/replica.zig
Labels: fuzz vopr

#2817 vopr: collect statistics about messages sent
  src/stdx.zig
  src/testing/cluster/network.zig
  src/vopr.zig
Labels: fuzz vopr_lite, fuzz vopr

#2797 vopr: search for correlated faults after safety mode
  src/testing/cluster/state_checker.zig
  src/vopr.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#2823 vopr: allow fast writes
  src/clients/c/tb_client/signal.zig
  src/io/darwin.zig
  src/io/linux.zig
  src/io/test.zig
  src/io/windows.zig
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/multiversioning.zig
  src/state_machine.zig
  src/storage.zig
  src/storage_fuzz.zig
  src/testing/cluster.zig
  src/testing/cluster/network.zig
  src/testing/io.zig
  src/testing/packet_simulator.zig
  src/testing/storage.zig
  src/vopr.zig
  src/vsr/replica.zig
  src/vsr/replica_format.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz vopr

#2820 vopr: add performance mode
  src/vopr.zig
Labels: fuzz vopr

#2834 vopr: fix false positive
  src/testing/storage.zig
Labels: fuzz vopr

#2839 vsr: fix VOPR false positive on release upgrade
  src/vsr/replica.zig
Labels: fuzz vopr

#2841 vsr: fix crash in primary_repair_pipeline
  src/vsr/replica.zig
Labels: fuzz vopr

#2833 stdx: vendor bitset
  src/iops.zig
  src/lsm/forest.zig
  src/shell.zig
  src/stdx.zig
  src/stdx/bit_set.zig
  src/stdx/prng.zig
  src/testing/cluster/network.zig
  src/testing/cluster/state_checker.zig
  src/testing/storage.zig
  src/tidy.zig
  src/tigerbeetle.zig
  src/tigerbeetle/benchmark_load.zig
  src/tigerbeetle/inspect.zig
  src/unit_tests.zig
  src/vopr.zig
  src/vsr/client_replies.zig
  src/vsr/client_sessions.zig
  src/vsr/journal.zig
  src/vsr/replica.zig
  src/vsr/superblock_quorums.zig
  src/vsr/superblock_quorums_fuzz.zig
Labels: fuzz vopr

#2821 vsr: quicker request protocol
  src/vopr.zig
  src/vsr/client.zig
  src/vsr/message_header.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#2840 VSR: Add replica/lsm/grid/journal metrics
  src/trace/event.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#2846 vopr: re-do tickless VOPR
  src/testing/cluster.zig
  src/testing/fuzz.zig
  src/testing/packet_simulator.zig
  src/testing/storage.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz vopr, fuzz vsr_superblock

#2855 fuzz: remove some code duplication
  src/lsm/cache_map_fuzz.zig
  src/lsm/forest_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/testing/fuzz.zig
Labels: fuzz lsm_tree, fuzz lsm_cache_map

#2858 vopr: print dropped packets in VOPR
  src/testing/cluster/network.zig
  src/testing/packet_simulator.zig
  src/vopr.zig
  src/vsr/clock.zig
  src/vsr/message_header.zig
  src/vsr/replica.zig
  src/vsr/replica_test.zig
Labels: fuzz vopr
