Repository tigerbeetle/tigerbeetle, pull requests merged in 2025-07, with the labels that each got.

#3025 vsr: tidy up times
  src/iops.zig
  src/lsm/forest_fuzz.zig
  src/repl/parser.zig
  src/scripts/amqp.zig
  src/state_machine.zig
  src/state_machine/auditor.zig
  src/state_machine/workload.zig
  src/stdx.zig
  src/testing/state_machine.zig
  src/trace.zig
  src/trace/event.zig
  src/trace/statsd.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#3050 VSR: Apply backpressure when replicas are lagging
  CHANGELOG.md
  src/testing/cluster.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
  src/trace/statsd.zig
  src/vsr/message_header.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#3077 VSR: Backpressure cleanup
  src/tigerbeetle/cli.zig
  src/trace/statsd.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#3078 VOPR: Fix false positive uncommitted header mismatch
  src/vopr.zig
  src/vsr/journal.zig
Labels: fuzz vopr_lite, fuzz vopr

#3008 compaction: finish one tree's bar quota before compacting the next
  src/config.zig
  src/constants.zig
  src/lsm/compaction.zig
  src/lsm/forest.zig
  src/lsm/manifest_log.zig
  src/lsm/tree.zig
  src/lsm/tree_fuzz.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz vopr, fuzz lsm_manifest_log

#3087 Make `Time` an interface
  src/aof.zig
  src/cdc/runner.zig
  src/clients/c/tb_client.zig
  src/clients/c/tb_client/context.zig
  src/clients/c/tb_client/echo_client.zig
  src/clients/c/tb_client/signal.zig
  src/clients/node/node.zig
  src/clients/python/python_bindings.zig
  src/io/darwin.zig
  src/io/test.zig
  src/io/windows.zig
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/repl.zig
  src/repl/parser.zig
  src/scripts/amqp.zig
  src/state_machine.zig
  src/storage_fuzz.zig
  src/testing/cluster.zig
  src/testing/storage.zig
  src/testing/time.zig
  src/tigerbeetle/benchmark_driver.zig
  src/tigerbeetle/benchmark_load.zig
  src/tigerbeetle/main.zig
  src/time.zig
  src/trace.zig
  src/vsr.zig
  src/vsr/client.zig
  src/vsr/clock.zig
  src/vsr/replica.zig
  src/vsr/replica_reformat.zig
Labels: fuzz vopr_lite, fuzz vopr

#3088 Move `Tracer` initialization into `main`
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/state_machine.zig
  src/testing/cluster.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
  src/trace.zig
  src/trace/statsd.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#3100 remove `Tracer` from `StorageType`
  src/aof.zig
  src/cdc/runner.zig
  src/clients/c/tb_client.zig
  src/clients/node/node.zig
  src/clients/python/python_bindings.zig
  src/io/test.zig
  src/lsm/manifest.zig
  src/repl.zig
  src/repl/parser.zig
  src/scripts/amqp.zig
  src/storage.zig
  src/storage_fuzz.zig
  src/testing/storage.zig
  src/tigerbeetle/inspect.zig
  src/tigerbeetle/main.zig
  src/vsr/grid.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#3108 test: introduce fixtures module
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/state_machine.zig
  src/storage_fuzz.zig
  src/testing/cluster.zig
  src/testing/fixtures.zig
  src/testing/storage.zig
  src/testing/time.zig
  src/tidy.zig
  src/trace.zig
  src/vopr.zig
  src/vsr/replica_format.zig
  src/vsr/replica_test.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz lsm_cache_map, fuzz vsr_free_set, fuzz ewah, fuzz vopr_lite, fuzz vopr, fuzz lsm_manifest_log, fuzz lsm_scan, fuzz vsr_superblock, fuzz state_machine

#3090 ewah: fix decoding bigger free set into smaller
  src/ewah.zig
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/scan_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/testing/cluster/storage_checker.zig
  src/tigerbeetle/inspect.zig
  src/vsr.zig
  src/vsr/checkpoint_trailer.zig
  src/vsr/free_set.zig
  src/vsr/grid.zig
  src/vsr/replica.zig
  src/vsr/superblock.zig
Labels: fuzz vsr_free_set, fuzz ewah, fuzz vopr

#3110 test: fix typo in manifest_log_fuzz
  src/lsm/manifest_log_fuzz.zig
  src/testing/fixtures.zig
Labels: fuzz lsm_manifest_log

#3121 Grid: Verify faulty reads
  src/vsr/grid.zig
Labels: fuzz vopr_lite, fuzz vopr
