Repository tigerbeetle/tigerbeetle, pull requests merged in 2025-04, with the labels that each got.

#2866 vopr: fix false positive
  src/testing/cluster.zig
  src/testing/cluster/state_checker.zig
  src/vopr.zig
Labels: fuzz vopr

#2787 Multi-batch message encoder
  docs/coding/requests.md
  docs/reference/requests/lookup_accounts.md
  docs/reference/requests/query_accounts.md
  src/clients/c/tb_client.h
  src/clients/c/tb_client/context.zig
  src/clients/c/tb_client/echo_client.zig
  src/clients/c/tb_client/packet.zig
  src/clients/c/test.zig
  src/clients/dotnet/README.md
  src/clients/dotnet/TigerBeetle.Tests/IntegrationTests.cs
  src/clients/dotnet/TigerBeetle/Bindings.cs
  src/clients/dotnet/samples/walkthrough/Program.cs
  src/clients/go/README.md
  src/clients/go/pkg/native/tb_client.h
  src/clients/go/samples/walkthrough/main.go
  src/clients/go/tb_client_test.go
  src/clients/java/README.md
  src/clients/java/samples/walkthrough/src/main/java/Main.java
  src/clients/java/src/main/java/com/tigerbeetle/Request.java
  src/clients/java/src/test/java/com/tigerbeetle/IntegrationTest.java
  src/clients/node/README.md
  src/clients/node/node.zig
  src/clients/node/samples/walkthrough/main.js
  src/clients/node/src/benchmark.ts
  src/clients/node/src/bindings.ts
  src/clients/node/src/test.ts
  src/clients/python/README.md
  src/clients/python/python_bindings.zig
  src/clients/python/samples/walkthrough/main.py
  src/clients/python/src/tigerbeetle/bindings.py
  src/clients/python/tests/test_basic.py
  src/fuzz_tests.zig
  src/lsm/forest_fuzz.zig
  src/repl.zig
  src/repl/parser.zig
  src/scripts/cfo.zig
  src/scripts/client_readmes.zig
  src/state_machine.zig
  src/state_machine/auditor.zig
  src/state_machine/workload.zig
  src/state_machine_fuzz.zig
  src/stdx.zig
  src/testing/cluster.zig
  src/testing/state_machine.zig
  src/testing/systest/workload/src/main/java/Workload.java
  src/testing/vortex/java_driver/src/main/java/Main.java
  src/testing/vortex/workload.zig
  src/testing/vortex/zig_driver.zig
  src/tigerbeetle/benchmark_load.zig
  src/tigerbeetle/cli.zig
  src/tigerbeetle/main.zig
  src/unit_tests.zig
  src/vopr.zig
  src/vsr.zig
  src/vsr/client.zig
  src/vsr/multi_batch.zig
  src/vsr/multi_batch_fuzz.zig
Labels: fuzz vopr_lite, fuzz vopr

#2874 vsr: call hook into vopr while sending message to client
  src/vopr.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#2877 vopr: simplify time handling
  src/testing/cluster.zig
  src/tigerbeetle/main.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#2887 LSM: Make object cache optional.
  src/lsm/groove.zig
  src/lsm/scan_fuzz.zig
  src/state_machine.zig
  src/testing/state_machine.zig
Labels: fuzz lsm_scan

#2891 vsr: fix assertion
  src/vsr/journal.zig
Labels: fuzz vopr

#2883 vopr: fix todo
  src/state_machine/auditor.zig
  src/vopr.zig
Labels: fuzz vopr

#2896 vopr: compute storage write, read and packet delay latencies with correct mean
  src/lsm/forest_fuzz.zig
  src/lsm/manifest_log_fuzz.zig
  src/lsm/tree_fuzz.zig
  src/testing/packet_simulator.zig
  src/testing/storage.zig
  src/vsr/replica.zig
  src/vsr/superblock_fuzz.zig
Labels: fuzz vopr

#2923 client: eagerly deinitialize clients upon eviction
  src/clients/c/tb_client/context.zig
  src/testing/cluster.zig
  src/vopr.zig
Labels: fuzz vopr
