Repository tigerbeetle/tigerbeetle, pull requests merged in 2025-06, with the labels that each got.

#3001 ci: limit fuzzer processes to 20GiB of RAM
  src/fuzz_tests.zig
  src/testing/fuzz.zig
  src/vopr.zig
Labels: fuzz lsm_tree, fuzz lsm_forest, fuzz lsm_cache_map, fuzz vsr_free_set, fuzz ewah, fuzz vopr, fuzz lsm_manifest_log, fuzz lsm_scan, fuzz vsr_superblock, fuzz state_machine

#2992 vsr: cleanup, handle message padding uniformly
  src/vsr/client_replies.zig
  src/vsr/replica.zig
Labels: fuzz vopr

#3039 VOPR: Swarm test different replication configurations
  src/testing/cluster.zig
  src/vopr.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr

#3038 VSR: Add end-to-end client request latency metric
  src/aof.zig
  src/clients/c/tb_client.h
  src/clients/c/tb_client/context.zig
  src/clients/c/tb_client/echo_client.zig
  src/clients/c/tb_client/packet.zig
  src/clients/dotnet/TigerBeetle/Bindings.cs
  src/clients/go/pkg/native/tb_client.h
  src/clients/python/src/tigerbeetle/bindings.py
  src/clients/rust/src/lib.rs
  src/clients/rust/src/tb_client.rs
  src/testing/cluster.zig
  src/trace/event.zig
  src/trace/statsd.zig
  src/vsr/client.zig
  src/vsr/message_header.zig
  src/vsr/replica.zig
  src/vsr/replica_reformat.zig
  src/vsr/replica_test.zig
Labels: fuzz vopr_lite, fuzz vopr

#3042 fuzz: more targeted work-around for false stack overflow
  src/fuzz_tests.zig
Labels: fuzz lsm_forest

#3047 Trace: Add replica_messages_{in,out} counters
  src/trace.zig
  src/trace/event.zig
  src/trace/statsd.zig
  src/vsr/replica.zig
Labels: fuzz vopr_lite, fuzz vopr
